<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parte1</title>
    <link rel="stylesheet" href="recursos/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="recursos/css/estilos.css">
        <link rel="stylesheet" href="../recursos/bootstrap/css/botton.css">
    <script src="recursos/bootstrap/js/bootstrap.js"></script>
</head>
<body background="http://wallpaper.pickywallpapers.com/1366x768/highway-to-hipster-dream.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Facebook_New_Logo_%282015%29.svg/1200px-Facebook_New_Logo_%282015%29.svg.png" WIDTH=550 HEIGHT=250 VSPACE=2 HSPACE=400>
    <div>
      <div class="container">
       <div class="col-sm-offset-8 col-sm-8 col-md-offset-8 col-md-8 col-lg-offset-1 col-lg-10">
        <div class="panel panel-default">
          <div class="panel-body">
       <font size="5px" background="white" color="#f4f4f4" align="justify"><p>
             Es un sitio web de redes sociales creado por Mark Zuckerberg y fundado junto a Eduardo Saverin, Chris Hughes y Dustin Moskovitz. Originalmente era un sitio para estudiantes de la Universidad de Harvard. Su propósito era diseñar un espacio en el que los alumnos de dicha universidad pudieran intercambiar una comunicación fluida y compartir contenido de forma sencilla a través de Internet. Fue tan innovador y exitoso su proyecto que con el tiempo se extendió hasta estar disponible para cualquier usuario de la red. <br>
             A mediados de 2007 lanzó las versiones en francés, alemán y español traducidas por usuarios de manera no remunerada, principalmente para impulsar su expansión fuera de Estados Unidos, ya que sus usuarios se concentran en Estados Unidos, Canadá y Reino Unido. Facebook cuenta con más de 1350 millones de miembros, y traducciones a 70 idiomas. En octubre de 2014, Facebook llegó a los 1350 millones de usuarios,6 de los cuáles había más de 700 millones de usuarios móviles. Brasil, India, Indonesia, México y Estados Unidos son los países con más usuarios, sin embargo hay usuarios que poseen más de una cuenta.
        </p></font>
        </div>
        </div>
        </div>
        </div>
        </div>
        <br>
    <form action="https://www.facebook.com/"><center><button id="fb">Facebook</button></center></form>
        <br>
        <br>           
    <form action="menu.html" method="get">
    <center> <button id="btn">Pagina Principal</button>
    </form>
</body>
  <embed id=sonido src="Calvin Harris - Feel So Close (Housejunkee Edit).mp3" autostart=true loop=true width=0 height=0>
</html>