<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parte1</title>
    <link rel="stylesheet" href="recursos/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="recursos/css/estilos.css">
    <script src="recursos/bootstrap/js/bootstrap.js"></script>
</head>
<body background="http://wallpaper.pickywallpapers.com/1366x768/highway-to-hipster-dream.jpg">
    
</body>
  <embed id=sonido src="Calvin Harris - Feel So Close (Housejunkee Edit).mp3" autostart=true loop=true width=0 height=0>
</html>