<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parte1</title>
    <link rel="stylesheet" href="recursos/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="recursos/css/estilos.css">
        <link rel="stylesheet" href="../recursos/bootstrap/css/botton.css">
    <script src="recursos/bootstrap/js/bootstrap.js"></script>
</head>
<body background="http://wallpaper.pickywallpapers.com/1366x768/highway-to-hipster-dream.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/WhatsApp_logo.svg/1200px-WhatsApp_logo.svg.png" WIDTH=550 HEIGHT=250 VSPACE=2 HSPACE=400>
        <div>
       <font size="5px" background="white" color="#40dd32" align="justify"><p>
             Es una aplicación de mensajería instantánea para teléfonos inteligentes, que envía y recibe mensajes mediante Internet, complementando servicios de correo electrónico, mensajería instantánea, servicio de mensajes cortos o sistema de mensajería multimedia. Además de utilizar la mensajería en modo texto, los usuarios de la libreta de contacto pueden crear grupos y enviarse mutuamente, imágenes, vídeos y grabaciones de audio. Según datos de 2016 supera los 1000 millones de usuarios superando en 100 millones a Facebook Messenger. <br>
             El 19 de febrero de 2014, la aplicación fue comprada por la empresa Facebook por 19 000 millones de dólares (de los cuales 12 000 millones correspondían a acciones de Facebook y el resto, en efectivo). A principios de octubre, se anunció la compra definitiva de WhatsApp por Facebook por valor de 21 800 millones de dólares. Algunas semanas después de la compra, Whatsapp anunció tener capacidad para realizar videollamadas en el verano del mismo año. El despliegue definitivo del Voip llegó progresivamente durante 2015 a todas las plataformas móviles.
        </p></font>
        <br>
    <form action="https://web.whatsapp.com/"><center><button id="wz">Whatsapp</button></center></form>
        <br>
        <br>           
    <form action="menu.html" method="get">
    <center> <button id="btn">Pagina Principal</button>
    </form>
</body>
  <embed id=sonido src="Calvin Harris - Feel So Close (Housejunkee Edit).mp3" autostart=true loop=true width=0 height=0>
</html>